#searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: growIn .25s;

}
//Try to get rid of search container for centering if possible
h1 {
    text-align: center;
    color: white;
}

#chemListContainer { 
    background-color: rgba(255, 0, 0, 0.52);
    border-radius: 1vh;
    padding: 2vh;
    width: 70vw;
}
.navlink{
    color:white;
    font-size: 1vw;
    text-decoration: none;
}

.selected {
    color: gray
}

@keyframes growIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }