
html {
    font-size: 62.5%
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: rgb(63, 60, 65);
   // background-image: url('./image/smoke.jpg');
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}
.small-text {
    color: white;
    font-size: 3rem;
    display: block;
    text-align: center;
}